target/
.settings/
stash/
logs/
*.log
/datagenerator/
.project
.metadata
.classpath
*.xlsx
*.csv
*.html
*.bat
*.txt
!helpful_commands.txt
.pydevproject
!run_mdaservice.cmd.bat
!run_mdaclient.cmd.bat.txt
!curl_post_commands.txt
!curl_get_commands.txt
helpful_commands.txt
/_pom.xml_

/Streaming Dashboard 1.png

/TelcoGenerator.zip

*.swp
!Documentation/curl_get_commands.txt

!Documentation/curl_post_commands.txt

*~*

*.*proj*
!build_mdaservice.bat
!run_mdaclient.bat
**/.vs/